{% load static %}

<footer class="footer pt-6 pb-4 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="navbar-brand-dark mb-4" height="35" src="{% static 'assets/img/brand/light.svg' %}"
                    alt="Logo light" />
                <p>
                    Vaxin is your one stop platform for your vaccination details and reminders.
                </p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="#" aria-label="twitter social link"
                            class="icon-white me-2"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#" class="icon-white me-2"
                            aria-label="facebook social link"><span class="fab fa-facebook"></span></a>
                    </li>
                    <li>
                        <a href="#" aria-label="github social link"
                            class="icon-white me-2"><span class="fab fa-github"></span></a>
                    </li>
                    <li>
                        <a href="#" class="icon-white"
                            aria-label="facebook social link"><span class="fab fa-linkedin"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-lg-0">
                <h3 class="h5">Vaxin</h3>
                <ul class="links-vertical">
                    <li><a target="_blank" href="#">Blog</a></li> <br>
                    <li><a target="_blank" href="#">About Me</a></li> <br>
                    <li><a target="_blank" href="#">License</a></li> <br>
                    <li><a href="#" target="_blank">Docs<span class="badge badge-sm bg-success ms-2">v5.4</span></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-lg-0">
                <img src="{% static 'assets/img/themesberg.svg' %}" height="30" class="me-2" alt="Themesberg Logo" />
                <span class="h5">Vaxin</span>
                    <p class="fw-normal font-small mb-0 py-3">
                        <a > {% now "Y" %} &copy; <a target="_blank" href="https://geonhib.github.io">George Onen </a>
                    </p>
            </div>
        </div>
    </div>
</footer>