{% load static %}
<div class="col-12 col-lg-4 mb-3 mb-lg-0">
    <div class="card border-gray-300 p-2">
        <div class="card-header bg-white border-0 text-center d-flex flex-row flex-lg-column
            align-items-center justify-content-center px-1 px-lg-4 ">
            <div class="profile-thumbnail dashboard-avatar mx-lg-auto me-3">
                <a href="{% url 'profile' %}">
                    <img src="{% static 'assets/img/team/me.JPG' %}"
                    class="card-img-top rounded-circle border-white" style="height: 160px; width: 170px;" alt="profile picture" />
                </a>
            </div>
            <span class="h5 my-0 my-lg-3 me-lg-0"><a class="fw-bold" href="{% url 'profile' %}">Hi, {{user|title}}!</a></span>
            <a href="{% url 'account_logout' %}" class="btn btn-gray-300 btn-xs"><span class="me-2"><span
                class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                
        </div>
        <div class="card-body p-2 d-none d-lg-block">
            <div class="list-group dashboard-menu list-group-sm">
                <a href="{% url 'dashboard' %}" class="d-flex list-group-item border-0 list-group-item-action active">Overview
                    <span class="icon icon-xs ms-auto">
                        <span class="fas fa-chevron-right"></span>
                    </span> 
                </a>
                <a href="{% url 'facilities' %}" class="d-flex list-group-item border-0 list-group-item-action">Health Facilites 
                    <span class="icon icon-xs ms-auto">
                        <span class="fas fa-chevron-right"></span>
                    </span>
                </a>
                <a href="{% url 'manufacturers' %}" class="d-flex list-group-item border-0 list-group-item-action">Manufacturers
                    <span class="icon icon-xs ms-auto">
                        <span class="fas fa-chevron-right"></span>
                    </span>
                </a>
                <a href="{% url 'vaccines' %}" class="d-flex list-group-item border-0 list-group-item-action">Vaccines
                    <span class="icon icon-xs ms-auto">
                        <span class="fas fa-chevron-right"></span>
                    </span>
                </a>
                <a href="{% url 'vaccinations' %}" class="d-flex list-group-item border-0 list-group-item-action border-0">Vaccinations
                    <span class="icon icon-xs ms-auto">
                        <span class="fas fa-chevron-right"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>