{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Preloader -->
<div class="section section-lg pt-5 pt-md-7 bg-gray-200">
    <div class="container">
        <div class="row pt-5 pt-md-0">
            {% include 'partials/sidebar.html' %}
            <div class="col-12 d-lg-none">
                <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-10 d-flex">
                                <a href="./account.html" class="list-group-item list-group-item-action border-0text-center me-2 active">Overview</a>
                                <a href="./settings.html" class="list-group-item list-group-item-action border-0 text-center me-2">Settings</a>
                                <a href="./my-items.html" class="list-group-item list-group-item-action border-0 text-center me-2 d-none d-sm-block border-0">My Items</a>
                                <a href="./security.html" class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0">Security</a>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <div class="btn-group dropleft">
                                    <button class="btn btn-link dropdown-toggle dropdown-toggle-split me-2 m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm"><span
                                                class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                                        </span><span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="./my-items.html" class="list-group-item list-group-item-action d-sm-none border-0">My Items</a>
                                        <a href="./security.html" class="list-group-item list-group-item-action d-md-none border-0">Security</a>
                                        <a href="./billing.html" class="list-group-item list-group-item-action border-0">Billing</a>
                                        <a href="./messages.html" class="list-group-item list-group-item-action border-0">Messages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-gray-300">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <!-- Tabs -->
                                <div class="col-12 col-md-12 col-lg-12">
                                    <!-- Tab Nav -->
                                    <div class="nav-wrapper position-relative mb-2">
                                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-2-tab" data-bs-toggle="tab"
                                                    href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">
                                                    <span class="far fa-user-circle me-2"></span>Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-1-tab" data-bs-toggle="tab"
                                                    href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">
                                                    <span class="far fa-clock me-2"></span>Reminders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-bs-toggle="tab"
                                                    href="#tabs-text-3" role="tab" aria-controls="tabs-text-3"
                                                    aria-selected="false">
                                                    <span class="far fa-envelope me-2"></span>Messages</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End of Tab Nav -->
                                    <!-- Tab Content -->
                                    <div class="card border-0">
                                        <div class="card-body p-0">
                                            <div class="tab-content" id="tabcontent1">
                                                <div class="tab-pane fade show active" id="tabs-text-2" role="tabpanel"
                                                    aria-labelledby="tabs-text-2-tab">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-5">First Name:</div>
                                                                <div class="col-md-7">George</div>
                                                                <div class="col-md-5">Last Name:</div>
                                                                <div class="col-md-7">onen</div>
                                                                <div class="col-md-5">Gender:</div>
                                                                <div class="col-md-7">Male</div>
                                                                <div class="col-md-5">Date of Birth:</div>
                                                                <div class="col-md-7">13/02/1990</div>
                                                            </div>
                                                        </div>
                                                        <!-- half page -->
                                                        <div class="col-md-6"></div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show" id="tabs-text-1" role="tabpanel"
                                                    aria-labelledby="tabs-text-1-tab">
                                                    <p>Be reminded that small batch freegan sed.
                                                        Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident
                                                        chillwave deep v laborum. Aliquip veniam delectus,
                                                        Marfa eiusmod Pinterest in do umami readymade swag.</p>
                                                </div>
                                                <div class="tab-pane fade" id="tabs-text-3" role="tabpanel"
                                                    aria-labelledby="tabs-text-3-tab">
                                                    <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.
                                                        Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident
                                                        chillwave deep v laborum. Aliquip veniam delectus,
                                                        Marfa eiusmod Pinterest in do umami readymade swag.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Tab Content -->
                                </div>
                                <!-- End Tab -->
                            </div>
                            <div class="card-body p-2">
                                <div class="ct-chart-8 ct-major-tenth ct-series-b"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card border-gray-300">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <div class="d-block">
                                    <div class="h6 fw-normal text-gray mb-2">
                                        Reminder sent
                                    </div>
                                    <h2 class="h5">Rubella</h2>
                                    <div class="d-flex align-items-center text-right">
                                        <span class="shape-xs rounded-circle bg-info me-2"></span>
                                        <span class="fw-normal small">Missed</span>
                                    </div>
                                    <!-- <div class="d-flex align-items-center text-right mb-2">
                                        <span class="shape-xs rounded-circle bg-success me-2"></span>
                                        <span class="fw-normal small">Complete</span>
                                    </div>
                                    <div class="d-flex align-items-center text-right">
                                        <span class="shape-xs rounded-circle bg-info me-2"></span>
                                        <span class="fw-normal small">Incoming</span>
                                    </div>
                                    <div class="d-flex align-items-center text-right">
                                        <span class="shape-xs rounded-circle bg-danger me-2"></span>
                                        <span class="fw-normal small">Missed</span>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="ct-chart-5 ct-golden-section ct-series-e"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card border-gray-300">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <div class="d-block">
                                    <div class="h6 fw-normal text-gray mb-2">
                                        Reminder Sent
                                    </div>
                                    <h2 class="h5">Yellow Fever</h2>
                                    <div class="d-flex align-items-center text-right">
                                        <span class="shape-xs rounded-circle bg-danger me-2"></span>
                                        <span class="fw-normal small">Missed</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="ct-chart-5 ct-golden-section ct-series-e"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card border-gray-300">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <div class="d-block">
                                    <div class="h6 fw-normal text-gray mb-2">
                                        Well Done!
                                    </div>
                                    <h2 class="h5">Hepatitis B</h2>
                                    <div class="d-flex align-items-center text-right">
                                        <span class="shape-xs rounded-circle bg-success me-2"></span>
                                        <span class="fw-normal small">Missed</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="ct-chart-5 ct-golden-section ct-series-e"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
