{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Preloader -->
<div class="section section-lg pt-5 pt-md-7 bg-gray-200">
    <div class="container">
        <div class="row pt-5 pt-md-0">
            {% include 'partials/sidebar.html' %}
            <div class="col-12 d-lg-none">
                <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-10 d-flex">
                                <a href="./account.html" class="list-group-item list-group-item-action border-0text-center me-2 active">Overview</a>
                                <a href="./settings.html" class="list-group-item list-group-item-action border-0 text-center me-2">Settings</a>
                                <a href="./my-items.html" class="list-group-item list-group-item-action border-0 text-center me-2 d-none d-sm-block border-0">My Items</a>
                                <a href="./security.html" class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0">Security</a>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <div class="btn-group dropleft">
                                    <button class="btn btn-link dropdown-toggle dropdown-toggle-split me-2 m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm"><span
                                                class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                                        </span><span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="./my-items.html" class="list-group-item list-group-item-action d-sm-none border-0">My Items</a>
                                        <a href="./security.html" class="list-group-item list-group-item-action d-md-none border-0">Security</a>
                                        <a href="./billing.html" class="list-group-item list-group-item-action border-0">Billing</a>
                                        <a href="./messages.html" class="list-group-item list-group-item-action border-0">Messages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-gray-300">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <!-- Tabs -->
                                <div class="col-12 col-md-12 col-lg-12">
                                    <!-- Tab Nav -->
                                    <div class="nav-wrapper position-relative mb-2">
                                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-2-tab" data-bs-toggle="tab"
                                                    href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">
                                                    <span class="far fa-user-circle me-2"></span>Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-1-tab" data-bs-toggle="tab"
                                                    href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">
                                                    <span class="far fa-clock me-2"></span>Reminders</a>
                                            </li>
                                            <!-- <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-bs-toggle="tab"
                                                    href="#tabs-text-3" role="tab" aria-controls="tabs-text-3"
                                                    aria-selected="false">
                                                    <span class="far fa-envelope me-2"></span>Messages</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <!-- End of Tab Nav -->
                                    <!-- Tab Content -->
                                    <div class="card border-0">
                                        <div class="card-body p-0">
                                            <div class="tab-content" id="tabcontent1">
                                                <div class="tab-pane fade show active" id="tabs-text-2" role="tabpanel"
                                                    aria-labelledby="tabs-text-2-tab">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-5">First Name:</div>
                                                                <div class="col-md-7">{{user.first_name|title}}</div>
                                                                <div class="col-md-5">Last Name:</div>
                                                                <div class="col-md-7">{{user.last_name|title}}</div>
                                                                <div class="col-md-5">Gender:</div>
                                                                <div class="col-md-7">{{user.gender|title}}</div>
                                                                <div class="col-md-5">Date of Birth:</div>
                                                                <div class="col-md-7">{{user.dob}}</div>
                                                            </div>
                                                        </div>
                                                        <!-- half page -->
                                                        <div class="col-md-6">
                                                            <!-- start modal -->
                                                                <!-- Button Modal -->
                                                                <!-- <div class="d-grid">
                                                                    <button type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal"
                                                                        data-bs-target="#modal-default"><span class="fas fa-plus me-2"></span>Add New</button>
                                                                </div> -->
                                                                <button class="btn btn-gray-300 btn-xs" data-bs-toggle="modal" data-bs-target="#modal-default">
                                                                    <span class="me-2"><span class="fas fa-edit"></span></span>Update</button>
                                                                <!-- Modal Content -->
                                                                <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h2 class="h6 modal-title">Update my profile</h2>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                                    aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form method="POST" novalidate enctype="multipart/form-data">
                                                                                    {% csrf_token %}
                                                                                    {{ edit_user | crispy }}
                                                                                    <hr>
                                                                                    <button type="submit" class="btn btn-secondary">Save</button>
                                                                                    <button type="button" class="btn btn-link ms-auto" data-bs-dismiss="modal">Cancel</button>
                                                                                </form>
                                                                            </div>
                                                                            <!-- <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary">I accept</button>
                                                                                <button type="button" class="btn btn-link ms-auto" data-bs-dismiss="modal">Close</button>
                                                                            </div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- End of Modal Content -->
                                                            <!-- end modal -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show" id="tabs-text-1" role="tabpanel"
                                                    aria-labelledby="tabs-text-1-tab">
                                                    <div class="table-responsive-sm">
                                                        <table class="table table-striped">
                                                            <tr>
                                                                <th scope="col" id="teacher2">Patient</th>
                                                                <th scope="col" id="males2">Message</th>
                                                                <th scope="col" id="females2">Time</th>
                                                            </tr>
                                                            
                                                            {% if msgs %}
                                                                {% for msg in msgs  %}
                                                                <tr>
                                                                    <th scope="row" id="Bolter2" headers="firstyear2 teacher2">{{msg.user|title}}</th>
                                                                    <td headers="firstyear2 Bolter2 males2">{{msg.content|title}}</td>
                                                                    <td headers="firstyear2 Bolter2 females2">{{msg.timestamp|naturaltime}}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% else %}
                                                                No Reminder yet.
                                                            {% endif %}
                                                        </table>
                                                        <p class="text-center mb-0"><a href="{% url 'reminders' %}">View all reminders</a></p>
                                                    </div>
                                                </div>
                                                <!-- <div class="tab-pane fade" id="tabs-text-3" role="tabpanel"
                                                    aria-labelledby="tabs-text-3-tab">
                                                    <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.
                                                        Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident
                                                        chillwave deep v laborum. Aliquip veniam delectus,
                                                        Marfa eiusmod Pinterest in do umami readymade swag.</p>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Tab Content -->
                                </div>
                                <!-- End Tab -->
                            </div>
                            <div class="card-body p-2">
                                <div class="ct-chart-8 ct-major-tenth ct-series-b"></div>
                            </div>
                        </div>
                    </div>
                    {% if vaccinations %}
                        {% for vaccination in vaccinations  %}
                        <div class="col-12 col-md-4 mb-4">
                            <a href="{% url 'vaccination_detail' vaccination.id %}">
                                <div class="card border-gray-300">
                                    <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                        <div class="d-block">
                                            <div class="h6 fw-normal text-gray mb-2">
                                                Reminder Sent
                                            </div>
                                            <h2 class="h5">{{vaccination.drug|title}}</h2>
                                            <div class="d-flex align-items-center text-right">
                                            {% if vaccination.dose == "soon" %}
                                                <span class="shape-xs rounded-circle bg-info me-2"></span>
                                                <span class="fw-normal small">Missed</span>
                                            {% elif vaccination.dose == "taken" %}
                                                <span class="shape-xs rounded-circle bg-success me-2"></span>
                                                <span class="fw-normal small">To be taken</span>
                                            {% else %}
                                                <span class="shape-xs rounded-circle bg-danger me-2"></span>
                                                <span class="fw-normal small">Missed</span>
                                            {% endif %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="ct-chart-5 ct-golden-section ct-series-e"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    {% else %}
                        No vaccination adminsistered yet
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    


