{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Preloader -->
<div class="section section-lg pt-5 pt-md-7 bg-gray-200">
    <div class="container">
        <div class="row pt-5 pt-md-0">
            {% include 'partials/sidebar.html' %}
            <div class="col-12 d-lg-none">
                <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-10 d-flex">
                                <a href="./account.html" class="list-group-item list-group-item-action border-0text-center me-2 active">Overview</a>
                                <a href="./settings.html" class="list-group-item list-group-item-action border-0 text-center me-2">Settings</a>
                                <a href="./my-items.html" class="list-group-item list-group-item-action border-0 text-center me-2 d-none d-sm-block border-0">My Items</a>
                                <a href="./security.html" class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0">Security</a>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <div class="btn-group dropleft">
                                    <button class="btn btn-link dropdown-toggle dropdown-toggle-split me-2 m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm"><span
                                                class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                                        </span><span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="./my-items.html" class="list-group-item list-group-item-action d-sm-none border-0">My Items</a>
                                        <a href="./security.html" class="list-group-item list-group-item-action d-md-none border-0">Security</a>
                                        <a href="./billing.html" class="list-group-item list-group-item-action border-0">Billing</a>
                                        <a href="./messages.html" class="list-group-item list-group-item-action border-0">Messages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <!-- Toast -->
                <p class="text-center">{% include 'includes/messages.html' %}</p>
                <!-- End Toast -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-text-gray breadcrumb-white text-dark">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li> 
                        <li class="breadcrumb-item"><a href="{% url 'facilities' %}">Facilities</a></li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">List</li> -->
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-gray-300">
                            <div class="card-body border-bottom">
                              <div class="mb-5">
                                  <div class="row">
                                      <div class="col-8">
                                        <div class="mb-4">
                                            <span class="h5">Health Facilities</span>
                                        </div>
                                      </div>
                                        <div class="col-md-4">
                                            <!-- Button Modal -->
                                            <div class="d-grid">
                                                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                                                    data-bs-target="#modal-default"><span class="fas fa-plus me-2"></span>Add New</button>
                                            </div>
                                            <!-- Modal Content -->
                                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="h6 modal-title">Add Health Facility</h2>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post">
                                                                {% csrf_token %}
                                                                {{ create_form | crispy }}
                                                                <div class="my-3">
                                                                    <button type="submit" class="btn btn-success float-end">Save</button>
                                                                    <button type="button" class="btn btn-primary float-end mx-2" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!-- <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary">Save</button>
                                                            <button type="button" class="btn btn-link ms-auto" data-bs-dismiss="modal">Close</button>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Modal Content -->

                                        </div>
                                  </div>

                                  <table id="table1" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <!-- <th>Location</th> -->
                                            <th>Center Level</th>
                                            <th>Contact</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for facility in facilities  %}
                                        <tr>
                                            <td>{{facility.name | title}}</td>
                                            <td>{{facility.address|title}}</td>
                                            <!-- <td>{{facility.location}}</td> -->
                                            <td>{{facility.center_level}}</td>
                                            <td>{{facility.contact}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Location</th>
                                            <th>Center Level</th>
                                            <th>Contact</th>
                                            <th>Option</th>
                                        </tr>
                                    </tfoot>
                </table>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
